.add-servent-icon i {
	margin-top: 10px;
}

html, body, card-content {
	min-width:1200px;
}

html, body {
	background-color: #FFFAF0;
}

.mtype-choose {
	margin-top: -4px;
}

.ascension-icon {
	width: 60px;
	margin-left: -15px;
}
.skill-icon {
	width: 20px;
	margin-left: -20px;
}

.servent-choose {
	font-size: 12px;
}

.ascension-select, .skill-select {
	margin-top: 2px;
	font-size: 12px;
}

.servent-img {
	width: 100px;
}

.material-content table th, td {
	width: 11.1%;
	font-size: 12px;
	padding: .25rem;
}

.material-content table td {
	padding: .15rem;
}

.ascension-material-table {
	width: 44.44%; 
}

.material-icon {
	width: 40px;
}