.add-servant-icon i {
	margin-top: 10px;
}

html, body, card-content {
	min-width:1200px;
}

html, body {
	background-color: #FFFAF0;
}

.mtype-choose {
	margin-top: -4px;
}

.ascension-icon {
	width: 60px;
	margin-left: -15px;
}

.skill-icon {
	width: 20px;
	margin-left: -20px;
}

.icon-unselect {
	opacity: 0.25;
}

.servant-name {
	font-size: 16px;
}

.ascension-select, .skill-select {
	margin-top: 2px;
	font-size: 12px;
}

.servant-img {
	width: 100px;
}

.material-content table th, td {
	width: 11.1%;
	font-size: 12px;
	padding: .25rem;
}

.material-content table td {
	padding: .15rem;
}

.ascension-material-table {
	width: 44.44%; 
}

.material-icon {
	width: 40px;
}

.servant-delete-button {
	font-size: 10px;
	padding-top: .25rem;
	padding-bottom: .25rem;
}

.servant-img-choose, .servant-group-icon {
	display: inline-block;
}

.servant-img-choose img {
	width: 70px;
	opacity: 0.25;
}

.img-select > img {
	opacity: 1;
	border: 2px solid #00FF00;
}

.servant-group-list {
	padding-left: 8rem;
	padding-right: 5rem;
}

.servant-group-icon img {
	width: 30px;
	opacity: 0.25;
}

.group-select > img {
	opacity: 1;
}